<!DOCTYPE html>
<html>
<head>
    <title>My Application Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="sliding-header">
        <h1>My Application Hub</h1>
    </header>
    <section class="apps">
        <h2>Applications:</h2>
        <ul>
            {% for app in applications %}
            <li><a href="{{ app.url }}" class="app-link" target="_blank">{{ app.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section class="info">
        <h2>Works & Notes</h2>
        <p>
            Here, work related notes, research and development notes and resources can be found here:
            <a href="{{ workplace.url }}" target="_blank" class="app-link">
                {{ workplace.name }}
            </a>
        </p>
        <h2>Definitions</h2>
        <div>
            <h3>MLOps</h3>
            <p>MLOps, or Machine Learning Operations, is a set of practices that aims to deploy and maintain machine learning models in production reliably and efficiently. It bridges the gap between data science and operations, focusing on automation, reproducibility, and collaboration. For more information, visit: <a href="https://github.com/graviraja/MLOps-Basics">https://github.com/graviraja/MLOps-Basics</a></p>
            {% set image_url = url_for('static', filename='images/mlops.jpg') %}
            <img src="{{ image_url }}" alt="MLOps" style="max-width: 300px;" onclick="openLightbox('{{ image_url }}')">
        </div>
    </section>

    {% for header, tabs in collapsibles.items() %}
        <div class="collapsible-section">
            <div class="collapsible-header" data-target="{{ header|replace(' ', '-') }}">
                {{ header }}
            </div>
            <div id="{{ header|replace(' ', '-') }}" class="collapsible-content">
                <section class="resources">
                    <div class="tab-container">
                        {% for tab in tabs %}
                            {% set tab_name = tab.keys()|list|first %}
                            <button class="tab-button {% if loop.first %}active{% endif %}" data-tab="{{ header|replace(' ', '-') }}-{{ tab_name|replace(' ', '-') }}">
                                {{ tab_name }}
                            </button>
                        {% endfor %}
                    </div>
                    {% for tab in tabs %}
                        {% set tab_name = tab.keys()|list|first %}
                        <div id="{{ header|replace(' ', '-') }}-{{ tab_name|replace(' ', '-') }}" class="tab-content {% if loop.first %}active{% endif %}">
                            <h3>{{ tab_name }}</h3>
                            <ul>
                                {% for item in tab[tab_name] %}
                                    <li>
                                        <a href="{{ item.url }}" target="_blank">
                                            {% if "github" in item.url %}
                                                <i class="fab fa-github"></i>
                                            {% endif %}
                                            {{ item.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    {% endfor %}

    <div class="lightbox" id="lightbox">
        <img src="" id="lightbox-image">
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>